<!DOCTYPE html>
<html>
<head>
  <title>Account</title>
</head>
<body>
  <h1>Welcome, you are signed in!</h1>
  <form action="/auth/logout" method="get">
    <button type="submit">Log off</button>
  </form>
</body>
</html>
